.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.user-container {
  width: 20%;
  margin-left: 2rem;
  height: 30rem;
  background-color: var(--gray);
  border-radius: 10px;
  color: var(--black);
}

.chat-container {
  width: 80%;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 30rem;
  background-color: var(--gray);
  border-radius: 10px;
  color: var(--black);
}

.logo {
  width: 24rem;
}

h1 {
  font-size: 2rem;
  color: var(--black);
}
